@media only screen and (min-width: 320px) {
    /* For mobile phones: */


}


@media only screen and (min-width: 540px) {
    /* Extra break point for some boostrapping */
    /* Not required in case of Sommereck */
}


@media only screen and (min-width: 600px) {
    /* For portrait tablets and large phones: */
}


@media only screen and (min-width: 768px) {
    /* For landscape tablets: */
}


@media only screen and (min-width: 992px) {
    /* For smaller desktops and laptops: */
    h0 {
      font-size: 80px;
    }

    .darken-overlay div {
	height: 800px;
	width:100%;
	background-color: rgba(0, 0, 0, 0.8);
    }

    .background-image {
	height: 800px;
	width:100%;
	position:absolute;
	z-index:-1;
	background-size:cover;
    }

    .cover-header {
        font-family: 'Lexend Deca', sans-serif;
	padding: 100px 0 0 20%;
	text-align:left;
	position:absolute;
	color: white;
	max-width: 80%;
    }
    
    .p-custom {
        padding-top:30px;
	padding-left:7px;
	font-size: 16px;
    }
    
    .p-custom > a {
        color: lightblue;
    }

    navLink {
        color: lightblue;
    }

    navLink:hover {
        background-color: black;
    }


}


@media only screen and (min-width: 1200px) {
    /* For desktops: */
}

@media only screen and (min-width: 1400px) {
    /* For larger desktops: */
}


@media only screen and (min-width: 1700px) {
    /* For dang large desktops */
}
